* {
	background-repeat: repeat-x;
}

body {
	background-image: url("https://images3.memedroid.com/images/UPLOADED354/570283c779c3c.jpeg");
}

h1 {
	background-image: url("https://images3.memedroid.com/images/UPLOADED354/570283c779c3c.jpeg");
}

p {
	background-image: url("https://images3.memedroid.com/images/UPLOADED354/570283c779c3c.jpeg");
}